<head>
    <link rel = "stylesheet" href="stlye.css">
</head>

@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
	box-sizing: content-box;
}

body{
    
    background-image: url(Background.jpg);
    background-repeat: no-repeat;
    background-size: 1600px 800px;
    background-attachment: fixed;
    color : rgb(0,0,0);
    display : flex;
    font-family: 'serif', sans-serif;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	padding: 10px;
	min-height: 100vh;
}

p{
    margin:5px;
}



h2{
    margin: 15px;
    text-align: center;
    margin-bottom: 30px;
}

input[type=checkbox]{
    margin-right: 0;
}
.container {
    background-color: white;
    opacity: 0.7;
    box-shadow: rgb(0, 0, 0);
    padding: 40px;
    width: 500px;
    height:350px ;
    max-width: 100%;
}

.result-container{
    background-color: rgb(214, 200, 200);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    font-size: 18px;
    letter-spacing: 1px;
    height: 50px;
    width: 100%;

}

.result-container #result{
    word-wrap: break-word;
    max-width: calc(100% - 40px);
}

.result-container .btn {
    background-image:url(index.png) ;

    background-repeat: no-repeat;
    background-size: 40px 40px;
    font-size: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
    height: 40px;
    width: 40px;
    widows: 40px;
}

.btn { /*generate password button*/
    border: none;
    color : rgb(255, 255, 255);
    cursor: pointer;
    font-size: 25px;
    padding: 8px 12px;
}

/* Darker background on mouse-over */
.btn:hover {
	background-color: #000000;
  }
/*making generate pass btn normal */
.btn-large {
    display: block;
    width: 100%;
    background-color : grey;
}


.setting {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0px;
}

